<div id="strikes-container" class="container-fluid">
  <div class="row ">
    <% @strikes.each do |strike| %>
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <div id="accordion">
            <div class="card-design">
              <div class="all-content">
                <%#= link_to strike_path(strike.id) do %>
                <div class="card-top" id="heading">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-<%=strike.id %>  " aria-expanded="true" aria-controls="collapseOne">
                    <div class="category">
                      <div class="logo">
                        <i class="fas fa-<%=strike.category.name.downcase%>"></i>
                      </div>
                      <div><h3><strong><%= strike.category.name %> Strike</strong></h3></div>
                    </div>
                    <div class="dates">
                      <% if strike.start_date == strike.end_date%>
                        <p><strong>On: </strong><%= strike.start_date %></p>
                      <% else %>
                        <p><strong>From: </strong><%= strike.start_date %></p>
                        <% if !strike.end_date.nil? %>
                          <p><strong>To: </strong><%= strike.end_date %></p>
                        <% end %>
                      <%end %>
                    </div>
                  </button>
                </div>
                <%#end %>
                <div id="collapse-<%=strike.id %>" class="collapse" aria-labelledby="heading" data-parent="#accordion">
                    <p><strong>Organization: </strong><%= strike.organization %></p>
                    <p><strong>Union: </strong><%= strike.union.name%></p>
                    <p><strong>Description: </strong><%= strike.description %></p>
                </div>
                <hr width="80%">
                <div class="action-buttons">
                  <% if user_signed_in? %>
                    <% user_reminder = current_user.reminders.find_by(strike: strike) %>
                    <% if user_reminder %>
                      <% color = "green" %>
                      <%= link_to reminder_path(user_reminder), method: :delete do %>
                        <i type="submit" class="fas fa-bell <%= color %>"></i>
                      <% end %>
                    <% else %>
                      <% color = "" %>
                      <%= simple_form_for @reminder do |f| %>
                        <%= f.hidden_field :strike_id, value: strike.id %>
                        <%= button_tag type: "submit", class: "hidden-btn" do %>
                          <i type="submit" class="fas fa-bell <%= color %>"></i>
                         <% end %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= link_to user_session_path do %>
                      <i type="submit" class="fas fa-bell"></i>
                    <% end %>
                  <% end %>
                  <div><i class="fas fa-calendar-plus"></i></div>
                  <div><i class="fas fa-share"></i></div>
                </div>
                <hr>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
