<div class="accordion" id="accordionExample">
   <% if strikes[:ongoing].any? %>
    <hr class="hr-text" data-content="<%= t :ongoing %>">

    <% strikes[:ongoing].each do |strike| %>
      <%= render 'shared/card', strike: strike %>
    <% end %>
  <% end %>

  <% if strikes[:tomorrow].any? %>
    <hr class="hr-text" data-content="<%= t :tomorrow %>">

    <% strikes[:tomorrow].each do |strike| %>
      <%= render 'shared/card', strike: strike %>
    <% end %>
  <% end %>

  <% if strikes[:this_week].any? %>
    <hr class="hr-text" data-content="<%= t :this_week %>">

    <% strikes[:this_week].each do |strike| %>
      <%= render 'shared/card', strike: strike %>
    <% end %>
  <% end %>

 <% if strikes[:next_week].any? %>
    <hr class="hr-text" data-content="<%= t :next_week %>">

  <% strikes[:next_week].each do |strike| %>
    <%= render 'shared/card', strike: strike %>
  <% end %>
 <% end %>

  <% if strikes[:following].any? %>
    <hr class="hr-text" data-content="<%= t :upcoming %>">

    <% strikes[:following].each do |strike| %>
      <%= render 'shared/card', strike: strike %>
    <% end %>
  <% end %>
</div>
