<div class="form-container">
  <p class="text-center h4">EDIT STRIKE</p>

  <%= simple_form_for @strike do |f| %>
    <div class="form-inputs">
      <%= f.input :organization %>
      <%= f.association :category %>
      <%= f.input :description %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
    </div>
    <div class="form-actions text-center">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to "#{t(:cancel)}", root_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
