<div class="form-container">
  <p class="text-center h4"><%= "#{t(:add_strike).upcase}" %></p>

  <%= simple_form_for @strike do |f| %>
    <div class="form-inputs">
      <%= f.input :organization %>
      <%= f.association :category %>
      <%= f.input :description %>
      <p><a href=# id="new-union">Select Union below or create one here</a></p>
      <div id="union-select">
        <%= f.association :union %>
      </div>
      <div id="new-union-form" class="d-none">
        <%= f.simple_fields_for :union do |p| %>
          <%= p.input :name, input_html: { class: "union-input-field" } %>
          <%= p.input :initials, input_html: { class: "union-input-field" } %>
          <%= p.input :url, input_html: { class: "union-input-field" } %>
        <% end %>
      </div>
        <%= f.input :start_date %>
        <%= f.input :end_date %>

    </div>
    <div class="form-actions text-center">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Cancel', root_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
