<hr class="hr-text" data-content="Pending Strikes">
<div class="row ">
  <% @strikes.each do |strike| %>
    <div class="col-xs-12 col-sm-12 col-lg-12">
       <div class="card-design text-center">
        <div class="all-content">
          <div class="card-top">
               <div class="category">
                <h4><strong>
                  <% if locale == :en %>
                  <%= strike.organization %> Strike
                  <% elsif locale == :pt %>
                  Greve <%= strike.organization %>
                  <% end %>
                </strong></h4>
              </div>

                <div class="dates">
                  <% if strike.start_date == strike.end_date%>
                    <p><strong>On: </strong><%= t strike.start_date.strftime("%A") %>, <%= strike.start_date %></p>
                  <% else %>
                    <p><strong>From: </strong><%= t strike.start_date.strftime("%A") %>, <%= strike.start_date %></p>
                    <% if !strike.end_date.nil? %>
                      <p><strong>To: </strong><%= t strike.end_date.strftime("%A") %>, <%= strike.end_date %></p>
                    <% end %>
                  <%end %>
                </div>
              </div>

              <p><strong><%= t :categories %>: </strong><%= strike.category.name%></p>
              <p><strong><%= t :sector %>: </strong><%= strike.category.sector.name%></p>
              <p><strong><%= t :details %>: </strong><%= strike.description %></p>

                    <div class="text-center">
                      <% if user_signed_in? %>
                      <%= link_to "Edit", edit_submitted_strike_path(strike), class: "btn btn-primary btn-sm" %>
                      <%= link_to 'Delete', submitted_strike_path(strike.id), method: :delete, data: { :confirm => "You Sure?"}, class: 'btn btn-danger btn-sm' %>
                      <% end %>
                      <%= link_to "Approve", approval_strikes_path(strike.id), method: :post, class: "btn btn-success btn-sm text-white" %>
                    </div>
              </div>
            </div>
          </div>
  <% end %>
</div>
