<div class="form-container form-mobile">
  <p class="text-center h2 mt-4 mb-4"><strong><%= "#{t(:submit_strike)}" %></strong></p>

  <%= simple_form_for @submitted_strike do |f| %>
    <div class="form-inputs">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.input :organization %>
      <%= f.association :category %>
      <%= f.input :description %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
    </div>
    <div class="form-actions text-center">
      <%= f.submit class: 'btn btn-primary rounded' %>
      <%= link_to 'Cancel', root_path, class: 'btn btn-secondary rounded' %>
    </div>
  <% end %>
</div>
