<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="card-design">
      <div class="all-content">
        <div class="card-top">

          <div class="heading" id="heading<%= strike.id %>" data-toggle="collapse" data-target="#collapse<%= strike.id %>" aria-expanded="false" aria-controls="collapse<%= strike.id %>">
            <div class="category">
              <div class="logo">
                <i class="fas fa-<%=strike.category.name.downcase%>"></i>
              </div>
              <% if locale == :en %>
                <h3><strong><%= strike.organization %> Strike</strong></h3>
              <% elsif locale == :pt %>
                <h3><strong>Greve <%= strike.organization %></strong></h3>
              <% end %>
            </div>


            <div class="dates">
              <% if strike.start_date == strike.end_date%>
                <p><strong>On: </strong><%= t strike.start_date.strftime("%A") %>, <%= strike.start_date %></p>
              <% else %>
                <p><strong>From: </strong><%= t strike.start_date.strftime("%A") %>, <%= strike.start_date %></p>
                <% if !strike.end_date.nil? %>
                  <p><strong>To: </strong><%= t strike.end_date.strftime("%A") %>, <%= strike.end_date %></p>
                <% end %>
              <%end %>
            </div>

            <div id="collapse<%= strike.id %>" class="collapse" aria-labelledby="heading<%= strike.id %>" data-parent="#accordionExample">
              <p><strong><%= t :categories %>: </strong><%= strike.category.name%></p>
              <p><strong><%= t :sector %>: </strong><%= strike.category.sector.name%></p>
              <p><strong><%= t :details %>: </strong><%= strike.description %></p>

              <div class="text-center">
                <% if user_signed_in? %>
                  <% if current_user.admin %>
                    <%= link_to "#{t(:edit)}", edit_strike_path(strike), class: "btn btn-primary btn-sm" %>
                    <%= link_to "#{t(:delete)}", strike_path(strike.id), method: :delete, class: 'btn btn-danger btn-sm' %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <svg class="chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 35" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#000" stroke-width="5"/></svg>
          </div>
        </div>

        <div><hr class="hr-text"></div>
        <div class="action-buttons">
          <% if user_signed_in? %>
            <% user_reminder = current_user.reminders.find_by(strike: strike) %>
            <% if user_reminder %>
              <% color = "green" %>
              <%= link_to reminder_path(user_reminder), method: :delete do %>
                <i class="fas fa-bell <%= color %>"></i>
              <% end %>
            <% else %>
              <%= simple_form_for Reminder.new do |f| %>
                <%= f.hidden_field :strike_id, value: strike.id %>
                <%= button_tag type: "submit", class: "hidden-btn" do %>
                  <i class="fas fa-bell-slash"></i>
                 <% end %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to user_session_path do %>
              <i class="fas fa-bell fa-black-slash"></i>
            <% end %>
          <% end %>
          <div>
            <%= link_to "https://news.google.com/search?q=greve+#{strike.organization}", :target => "_blank" do %>
              <i class="fas fa-newspaper"></i>
            <% end %>
          </div>
          <div>
            <%= link_to "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.alertagreves.com%2F&amp;src=sdkpreparse" do %>
              <i class="fas fa-share"></i>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
