<div class="filter filter-container" >
  <h5><%= t :filter %></h5>
  <div class="list">
    <% @categories.each do |category| %>
      <% if category.strikes.present? && (Strike.where("start_date >= :date AND category_id = :category",
                                                      date: Date.today, category: category.id).present? ||
                                                      Strike.where("start_date <= :date AND end_date >= :date AND category_id = :category",
                                                      date: Date.today, category: category.id).present?) %>
        <%= link_to strikes_path(category_id: category.id), class: "nav-link", remote: true do %>
          <div class="sub-category">
            <%= t "#{category.name}" %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <%= link_to strikes_path(category_id: "all"), class: "nav-link", remote: true do %>
      <div class="extremes_buttons">
        <%= t :remove_filter %>
      </div>
    <% end %>
  </div>
</div>
