<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <% if locale == :en %>
    <%= link_to "🇬🇧", { locale: :en }, class: "flag" %>
  <% else %>
    <%= link_to '🇵🇹', { locale: :pt }, class: "flag" %>
  <% end %>

  <span class="title">AlertaGreves</span>

  <button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


  <form action="/strikes/search" accept-charset="UTF-8" method="get" id="expand">
  <input name="utf8" type="hidden" value="✓">
  <input type="search" name="query" id="query" placeholder="Search for a strike">
  </form>

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "#{t(:home)}", root_path, class: "nav-link" %>
        </li>

        <% if current_user.admin %>
          <li class="nav-item">
            <%= link_to "#{t(:add_strike)}", new_strike_path, class: "nav-link" %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to "#{t(:logout)}", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "#{t(:login)}", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
