<div class="modal fade" id="unionCreate" tabindex="-1" role="dialog" aria-labelledby="unionCreateModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unionCreateModal">New union</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @union do |f| %>
        <div class="modal-body">
          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :initials %>
            <%= f.input :url %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit class: 'btn btn-primary' %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>