<div class="form-container form-mobile">
  <p class="text-center h2 mt-4 mb-4"><strong><%= "#{t(:login)}" %></strong></p>


  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "#{t(:login)}", class: "btn btn-primary btn-sm rounded " %>
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-primary btn-sm" do %>
          <%= "#{t(:sign_in)}  #{OmniAuth::Utils.camelize(provider)} " %>
          <i class="fab fa-facebook-square"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
