<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <!-- FB Share -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v4.0"></script>
    <!-- end -->
    <div class="nav-top">
      <%= render 'shared/navbar' %>
    </div>
    <%= render 'shared/flashes' %>
    <div class="main-display">

      <div class="menu">
        <ul class="navbar-nav mr-auto menu-desktop">
          <% unless user_signed_in? %>
            <li>
              <%= link_to new_user_session_path do%>
                <i class="fas fa-sign-in-alt"></i>
                <%= "#{t(:login)}" %>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus"></i>
                <%= "#{t(:sign_up)}" %>
              <% end %>
            </li>
          <% end %>

          <% if user_signed_in? %>
            <% unless current_user.admin %>
              <li>
                <%= link_to new_submitted_strike_path do %>
                  <i class="fas fa-plus"></i>
                  <%= "#{t(:submit_strike)}"  %>
                <% end %>
              </li>
            <% end %>

            <% if current_user.admin %>
              <li>
                <%= link_to new_strike_path do %>
                  <i class="fas fa-plus"></i>
                  <%= "#{t(:add_strike)}" %>
                <% end %>
              </li>
              <li>
                <%= link_to submitted_strikes_path do %>
                  <i class="fas fa-spinner"></i>
                  <%= "#{t(:approve_strikes)} (#{SubmittedStrike.where("status = 'Pending'").count})" %>
                <% end %>
              </li>
            <% end %>

            <li>
              <%= link_to reminders_path do%>
                <i class="fas fa-bell"></i>
                <%= "#{t(:reminders)} (#{Reminder.where(user_id: current_user.id).count})" %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fas fa-cogs"></i>
                <%= "#{t(:settings)}" %>
              <% end %>
            </li>
            <li>
                <%= link_to about_us_strikes_path do %>
                  <i class="fas fa-info-circle"></i>
                  <%= "#{t(:about_us)}" %>
                <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>
                <%= "#{t(:logout)}" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div id="cards-container">
        <%= yield %>
      </div>

      <%= render "shared/filter" if controller_name == "strikes" && action_name == "index" %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
